@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* #fafafa */
    --foreground: 0 0% 20%; /* #333333 */

    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 20%; /* #333333 */

    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 20%; /* #333333 */

    --primary: 214 100% 27%; /* inori-track blue */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 220 14% 96%; /* #f3f4f8 */
    --secondary-foreground: 0 0% 20%; /* #333333 */

    --muted: 220 14% 96%; /* #f3f4f8 */
    --muted-foreground: 0 0% 45%; /* #737373 */

    --accent: 199 100% 78%; /* #8ED0FF */
    --accent-foreground: 0 0% 20%; /* #333333 */

    --destructive: 0 84% 60%; /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */

    --border: 0 0% 86%; /* #dbdbdb */
    --input: 0 0% 86%; /* #dbdbdb */
    --ring: 199 100% 78%; /* #8ED0FF */

    --radius: 0.5rem;

    --chart-1: 199 100% 78%; /* #8ED0FF */
    --chart-2: 152 76% 80%; /* #a5f3c4 */
    --chart-3: 266 100% 87%; /* #d8b4fe */
    --chart-4: 358 100% 86%; /* #fecaca */
    --chart-5: 41 94% 75%; /* #fcd34d */

    font-family: "noto-sans", sans-serif;
  }

  .dark {
    --background: 0 0% 12%; /* #1f1f1f */
    --foreground: 0 0% 95%; /* #f2f2f2 */

    --card: 0 0% 15%; /* #262626 */
    --card-foreground: 0 0% 95%; /* #f2f2f2 */

    --popover: 0 0% 15%; /* #262626 */
    --popover-foreground: 0 0% 95%; /* #f2f2f2 */

    --primary: 199 100% 78%; /* #8ED0FF */
    --primary-foreground: 0 0% 12%; /* #1f1f1f */

    --secondary: 0 0% 20%; /* #333333 */
    --secondary-foreground: 0 0% 95%; /* #f2f2f2 */

    --muted: 0 0% 20%; /* #333333 */
    --muted-foreground: 0 0% 65%; /* #a6a6a6 */

    --accent: 199 100% 78%; /* #8ED0FF */
    --accent-foreground: 0 0% 12%; /* #1f1f1f */

    --destructive: 0 84% 60%; /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */

    --border: 0 0% 28%; /* #474747 */
    --input: 0 0% 28%; /* #474747 */
    --ring: 199 100% 78%; /* #8ED0FF */

    --radius: 0.5rem;

    --chart-1: 199 100% 78%; /* #8ED0FF */
    --chart-2: 152 76% 80%; /* #a5f3c4 */
    --chart-3: 266 100% 87%; /* #d8b4fe */
    --chart-4: 358 100% 86%; /* #fecaca */
    --chart-5: 41 94% 75%; /* #fcd34d */
  }

  p,
  li,
  tr,
  label {
    line-height: 2;
    font-weight: 500;
    letter-spacing: .16px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
