---
import type { CollectionEntry } from 'astro:content';
import ShortsCard from './shorts-card.astro';

type Props = {
  shorts: (CollectionEntry<'shorts'> & { body?: string })[];
};

const { shorts } = Astro.props;
---

<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pt-1'>
  {shorts.map((short) => <ShortsCard short={short} />)}
</div>
